body {
  font-family: Inter, sans-serif;
  color: rgba(73, 82, 87, 0.8);
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gilroy, sans-serif;
  color: #212629;
  font-size: 54px;
  line-height: 1.25;
  font-weight: 800;
  letter-spacing: 1px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Gilroy, sans-serif;
  color: #212629;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 1px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Gilroy, sans-serif;
  color: #212629;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  margin-bottom: 0px;
}

.container {
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.flex-col-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-col-wrapper.v-align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-2col {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px 16px;
}

.flex-3col {
  width: 33.33%;
  margin-bottom: 10px;
  padding: 10px 16px;
}

.s {
  padding-top: 120px;
  padding-bottom: 120px;
}

.s.section--white-dark {
  background-color: #e9edef;
}

.s.section--blue-dark {
  background-color: #052433;
}

.s.gradient-blue-2 {
  background-image: linear-gradient(145deg, #08354c, #5b4f50 100%, #ff8258);
}

.s.s--hero {
  position: relative;
  padding-top: 140px;
  padding-bottom: 170px;
  background-image: linear-gradient(140deg, #052433, #413839);
}

.s.s--cta {
  background-color: #e9edef;
}

.s.s--features {
  padding-bottom: 0px;
}

.s.s--vantagens {
  position: relative;
  background-color: #e9edef;
}

.s.s--footer {
  position: relative;
  z-index: 12;
  padding-top: 60px;
  background-color: #052433;
}

.s.s--footer-note {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-big {
  font-size: 24px;
}

.gradient-blue-2 {
  background-image: linear-gradient(145deg, #08354c, #5b4f50 100%, #ff8258);
}

.white-text {
  color: #fff;
}

.white-text.hero-title {
  margin-top: 60px;
  margin-bottom: 20px;
}

.header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.white-text-60 {
  color: hsla(0, 0%, 100%, 0.6);
}

.btn {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #ff774a;
  -webkit-transition: padding 300ms ease;
  transition: padding 300ms ease;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:hover {
  padding-right: 32px;
  padding-left: 32px;
}

.btn.btn--cta {
  padding: 24px 32px;
}

.btn.btn--small {
  padding: 8px 16px;
}

.btn.btn--ghost {
  border: 1px solid #ff774a;
  background-color: transparent;
  -webkit-transition: padding 300ms ease, color 300ms ease;
  transition: padding 300ms ease, color 300ms ease;
  color: #fff;
}

.btn.btn--ghost:hover {
  color: #ff774a;
}

.btn.btn--ghost.btn--small {
  font-size: 14px;
  text-transform: none;
}

.btn.btn--back-to-top {
  background-color: transparent;
  color: rgba(73, 82, 87, 0.8);
  text-transform: uppercase;
}

.text-hero {
  margin-bottom: 60px;
  color: hsla(0, 0%, 100%, 0.6);
}

.cta-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta__tittle {
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
}

.feature-text {
  padding-right: 40px;
  padding-left: 40px;
}

.hero-img-2 {
  position: absolute;
  left: 10%;
  width: 100%;
}

.hero-img-1 {
  position: absolute;
  z-index: 10;
  display: block;
  width: 115%;
  max-width: 115%;
}

.hero-img-wrapper {
  position: relative;
}

.bg-waves {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -2%;
  z-index: 2;
  width: 100%;
}

.icon-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.icon-bg.icon-bg--blue {
  background-color: #052433;
}

.icon-bg.icon-bg--orange {
  background-color: #ff774a;
}

.box {
  height: 100%;
  padding: 80px 60px;
  border-radius: 8px;
  background-color: rgba(255, 119, 74, 0.1);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(.215, .61, .355, 1);
  transition: -webkit-transform 400ms cubic-bezier(.215, .61, .355, 1);
  transition: transform 400ms cubic-bezier(.215, .61, .355, 1);
  transition: transform 400ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 400ms cubic-bezier(.215, .61, .355, 1);
}

.box:hover {
  -webkit-transform: translate(0px, -14px);
  -ms-transform: translate(0px, -14px);
  transform: translate(0px, -14px);
}

.text-center {
  text-align: center;
}

.s--tittle {
  padding-right: 20%;
  padding-left: 20%;
}

.centered-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients__logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients__logos-item {
  width: 150px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.nav-menu__item {
  margin-right: 20px;
  margin-left: 20px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.nav-menu__item:hover {
  color: #fff;
}

.text-orange {
  color: #ff774a;
}

.div-block {
  width: 100px;
  height: 1px;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #ff774a;
}

.footer-img {
  margin-top: -190px;
}

.btn__icon {
  color: #ff774a;
}

.footer-note-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-img {
  width: 160px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  .flex-2col {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .flex-2col.hero-img {
    display: none;
  }
  .flex-3col {
    width: 100%;
    margin-bottom: 40px;
  }
  .s.s--hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .nav-menu {
    display: none;
  }
  .cta-wrapper {
    padding-right: 5%;
    padding-left: 5%;
  }
  .feature-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-img-wrapper {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .flex-col-wrapper.v-align-middle.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-2col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .s {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .white-text.hero-title {
    margin-top: 0px;
  }
  .btn {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 14px;
  }
  .text-hero {
    font-size: 18px;
  }
  .bg-waves {
    bottom: -4px;
  }
  .icon-bg {
    margin-bottom: 20px;
  }
  .box {
    padding: 30px 20px;
  }
  .clients__wrapper {
    margin-bottom: 80px;
  }
  .footer-img.slide-left {
    margin-top: -170px;
  }
  .footer-note-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .nav-cta {
    display: none;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.eot') format('embedded-opentype'), url('../fonts/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Extrabold.eot') format('embedded-opentype'), url('../fonts/Gilroy-Extrabold.woff') format('woff'), url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}